<!DOCTYPE html>
<html lang="en">
<head>
   <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/main.css')}}">
    <style>
            .errors {color: red;} 
    </style>
</head>

<body>
    <div id ="container">
        <div class ="header">
           {% block nav %}
            {% endblock nav%}                                              
        </div>
   <hr id = "hr1">
   
   <!--This pulls in the flash messages you put in the routes
   these will be a list so ned a for loop to iterrate-->
   {% with messages = get_flashed_messages () %}
        <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
        </ul>
   {% endwith %}
    {% block content %}
    {% endblock content %}

    </div>
</body>
</html>


