{% extends "base.html" %}
    {% block nav %}
        <h1>{{title}}</h1>
    {% endblock nav %}


{% block content %}

  {% if blogs|length == 0 %}
    <h3>No blog posts yet.</h3>
    {% else %}

   
   {% for blog in blogs %} 

            <h1 class="heading_h1">
            <a href="/blog?id={{blog.id}}"> 
            {{blog.heading}}</a></h1>
            <p>{{blog.body}}</p>
            <p><small>written by <a href="/blog?user={{blog.owner_id}}">
            {{blog.owner.username}}</a> on {{blog.date_posted }} UTC</small></p>
             <hr>-->
                    
        {% endfor %}
    {% endif %}
{% endblock content %}


    