{% extends "base.html" %}

{% block nav %}

{% if not form.username.data%}
     <h1>Welcome <br>
     Please Login To Access Your Blog Page</h1>
{% else %}
    <h1>Welcome {{form.username.data}} <br>
    Please Login To Access Blog Book </h1>
{% endif %}
{% endblock nav %}

{% block content %}
<p></p>
<form action="/login" method="POST">
<span class="errors">{{ errors }}</span>
    <table>
        <tbody>
            <tr>
                   {{ form.hidden_tag() }}  <!-- do'nt forget("MUST HAVE!!") to add this so can validate from forms.py-->
               <td>{{ form.username.label }}</td><!-- give the lable in form.py-->
                <td>{{ form.username }}<!-- gives lable input feild/box to fill in from form.py-->
                    {% for error in form.username.errors %} <!--reads field-inputs in forms.py for errors-->
                    <span class ="errors">{{ error }}</span><!--displays error next to input box (in red)-->
                    {% endfor %}<!-- ends python code for username-->
                    </td>
            </tr>

            <tr>
                <td>{{form.password.label}}</td>
                <td>{{form.password}}
                     {% for error in form.password.errors %}
                     <span class = "errors">{{error}}</span>
                    {% endfor %}
                </td>
            </tr>
         </tbody>
    </table>
        <p></p>
        <input type="Submit" value="Login">
</form>

<h2>       
If you have not already signed up click <a href="/signup">here</a> or the Create An Account tab on top to login.
</h2> 
{% endblock content %}













